@media (max-width: 600px) {
    #messageInput {
        width: 70%;
        font-size: 16px; /* Предотвращает масштабирование на iPhone */
    }
    
    button {
        padding: 15px 25px;
        font-size: 16px;
    }
}